.contenedor{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,150px);
}
.cuadro{
    grid-column: 1;
    grid-row: 3;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}