.contenedor {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(4, 170px);
}
.cuadro {
    grid-column: 2;
    grid-row: 2;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}